**/log
**/dirinfo
**/.dirinfo
.env
**/jpeggeri.dat
**/*.bat
*.cls
/bas/
*.ascii_cert
*.ascii_pem
*.pem+cert
.vscode\*
.xcopyignore
jsconfig.json
*_private.json
firebase-debug.1.log
.firebase/hosting..cache
